@import url(https://fonts.googleapis.com/css?family=Marcellus:regular);

@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/Proxima Nova Font.eot');
  src: local('☺'), url('../fonts/Proxima Nova Font.woff') format('woff'), url('../fonts/Proxima Nova Font.ttf') format('truetype'), url('../fonts/Proxima Nova Font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg: #000000;
  --whiteText: #ffffff;
  --yellow: #ffc810;
  --blue: #107eff;
  --darkBlue: #0d123b;
  --red: #460d23;
}

// ===============================general style=======================================
body {
  background: var(--bg);
  color: var(--whiteText);
  font-family: 'proxima_nova', serif;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1900px;
}

.container {
  width: 100%;
  max-width: 1843px;
  padding: 0 15px;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 65px;
}

h3 {
  font-size: 60px;
}

h4 {
  font-family: 'Marcellus', serif;
  font-size: 40px;
}

h5 {
  font-size: 30px;
}

p {
  font-size: 24px;
}

// ===============================/general style=======================================
// ================================header=======================================
.header {
  margin-top: 23px;
  background: var(--bg);
  position: fixed;
  padding: 39px 0px;
  width: calc(350px + (1920 - 350) * ((100vw - 360px) / (1920 - 375)));
  max-width: 1920px;
  background: rgba(255, 0, 0, 0.178);
  display: flex;
  justify-content: center;
  align-items: center;


  .container {
    border-top: 1px solid var(--whiteText);
    border-bottom: 1px solid var(--whiteText);
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: -878px;
      left: 1221px;
      background-color: var(--blue);
      width: 890px;
      height: 1015px;
      opacity: 0.5;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -687px;
      left: 1508px;
      background-color: var(--yellow);
      width: 865px;
      height: 875px;
      opacity: 0.5;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }

  nav {
    padding: 0 110px;
    position: absolute;
    flex-wrap: wrap;
    width: 100%;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

  }

  a,
  a:visited {
    color: #0d86ff;
    font-size: 20px;

    span {
      color: rgb(252 206 14);
    }
  }

  .logo {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

}

// ===============================/header=======================================
// ================================main=======================================
.main {
  margin-top: 104px;
}

// ===============================/main=======================================
// ================================footer=======================================

// ===============================/footer=======================================