@import url(https://fonts.googleapis.com/css?family=Marcellus:regular);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);

@font-face {
  font-family: "proxima_nova";
  src: url("../fonts/Proxima Nova Font.eot");
  src: local("☺"), url("../fonts/Proxima Nova Font.woff") format("woff"),
    url("../fonts/Proxima Nova Font.ttf") format("truetype"),
    url("../fonts/Proxima Nova Font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("☺"), url("../fonts/ProximaNova-Bold.woff") format("woff"),
    url("../fonts/ProximaNova-Bold.ttf") format("truetype"),
    url("../fonts/ProximaNova-Bold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

:root {
  --bg: #000000;
  --whiteText: #ffffff;
  --yellow: #ffc810;
  --blue: #107eff;
  --darkBlue: #0d123b;
  --red: #460d23;
  --bigPadding: calc(8px + (346 - 8) * ((100vw - 320px) / (1920 - 320)));
  --padding59: 59px;
}



// ===============================general style=======================================

body {
  background: var(--bg);
  color: var(--whiteText);
  font-family: "proxima_nova", serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 10px;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1843px;
  padding: 0 15px;
}

h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 80px;
  margin-bottom: 60px;
}

h2 {
  font-size: 65px;
  font-weight: 600;
}

h3 {
  font-size: 60px;
}

h4 {
  font-family: "Marcellus", serif;
  font-size: 40px;
  line-height: 56px;
}

h5 {
  font-size: 30px;
}

p {
  font-size: 24px;
  line-height: 40px;
}

.desktop__hidden {
  display: none;
}

.mobile__hidden {
  display: block;
}

ol {
  list-style-type: none;
  counter-reset: list;
}

ol li {
  position: relative;
}

ol li::before {
  position: relative;
  top: 0;
  left: 0;
  font-family: "Merriweather", serif;
  font-style: italic;
  opacity: 0.5;
  font-size: 24px;
  font-weight: 400;
  content: "0"counter(list);
  counter-increment: list;
  color: var(--whiteText);
}

.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 140px;
  margin-left: var(--bigPadding);
  gap: 20px 40px;

  h2 {
    max-width: 424px;
    width: 50%;
  }

  .section__details {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 48px 8px;
    width: 100%;
    max-width: 633px;

    button {
      background: none;
      color: var(--whiteText);
      font-weight: 600;
      font-size: 20px;
    }

    a,
    a:visited {
      color: var(--whiteText);
    }
  }
}

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    width: 0px;
  }

  .section__header {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;

    h2 {
      width: 100%;
      margin-bottom: 30px;
    }

    .section__details {
      width: 100%;
      max-width: none;
    }
  }
}



@media (max-width: 980px) {
  .desktop__hidden {
    display: block;
  }

  .mobile__hidden {
    display: none;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 55px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 30px;
  }

  h5 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 50px;
    line-height: 47px;
    margin-bottom: 35px;
  }

  h2 {
    font-size: 47px;
  }
}

// ===============================/general style=======================================
// ================================header=======================================
.header {
  padding-top: 23px;
  background: var(--bg);
  position: fixed;
  width: calc(375px + (1920 - 375) * ((100vw - 375px) / (1920 - 375)));
  max-width: 1920px;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  .container {
    border-top: 1px solid var(--whiteText);
    border-bottom: 1px solid var(--whiteText);
    padding: 39px 110px;
    height: 100%;
    position: relative;

    .blue {
      position: absolute;
      z-index: -1;
      top: -940px;
      right: -15%;
      background-color: var(--blue);
      width: 890px;
      height: 1015px;
      opacity: 0.5;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transition: all .9s ease;
      -webkit-transition: all .9s ease;
      -moz-transition: all .9s ease;
      -ms-transition: all .9s ease;
      -o-transition: all .9s ease;
    }

    .yellow {
      position: absolute;
      z-index: -1;
      top: -910px;
      right: -33%;
      background-color: var(--yellow);
      width: 865px;
      height: 1040px;
      opacity: 0.5;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
    }
  }

  .header__body {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    gap: 20px 36px;
  }

  .subLogo {
    width: 127px;
  }

  .header__burger {
    display: none;
  }

  .header__menu {
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
  }

  .header__menu ul {
    display: flex;
    color: #ffffff;
  }

  .header__link {
    position: relative;
    z-index: 5;
    color: #fff;
  }

  .ukraine {
    color: rgb(252 206 14);
    font-size: 20px;

    span {
      color: #0d86ff;
    }
  }

  @media (max-width: 980px) {
    body.lock {
      overflow: hidden;
    }

    .container {
      padding: 25px 20px;
    }

    .content {
      width: calc(310px + (900 - 310) * ((100vw - 320px) / (980 - 320)));
    }

    .logo {
      width: 200px;
    }

    .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      margin-left: 30px;
      position: relative;
      z-index: 5;
    }

    .header__burger span {
      position: absolute;
      background-color: #fff;
      left: 0;
      width: 100%;
      height: 4px;
      top: 8px;
      transition: all 0.3s ease 0.2s;
      -webkit-transition: all 0.3s ease 0.2s;
      -moz-transition: all 0.3s ease 0.2s;
      -ms-transition: all 0.3s ease 0.2s;
      -o-transition: all 0.3s ease 0.2s;
    }

    .header__burger::before,
    .header__burger::after {
      content: "";
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 4px;
      left: 0;
      transition: all 0.3s ease 0.2s;
      -webkit-transition: all 0.3s ease 0.2s;
      -moz-transition: all 0.3s ease 0.2s;
      -ms-transition: all 0.3s ease 0.2s;
      -o-transition: all 0.3s ease 0.2s;
    }

    .header__burger.active::before {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      top: 8px;
    }

    .header__burger.active::after {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      bottom: 8px;
    }

    .header__burger.active span {
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
    }

    .header__menu {
      position: fixed;
      top: -110%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(18, 18, 18);
      padding: 70px 10px 20px 10px;
      overflow: auto;
      transition: all 0.5s ease 0.2s;
      -webkit-transition: all 0.5s ease 0.2s;
      -moz-transition: all 0.5s ease 0.2s;
      -ms-transition: all 0.5s ease 0.2s;
      -o-transition: all 0.5s ease 0.2s;
    }

    .header__menu.active {
      position: fixed;
      top: 0%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      padding: 155px 10px 20px 10px;
    }

    .header__burger::before {
      top: 0;
    }

    .header__burger::after {
      bottom: 0;
    }

    .header__menu ul {
      display: block;
    }

    .header__menu ul li {
      display: flex;
      justify-content: center;
      margin: 0 0 45px 0;
      font-size: 35px;
    }

    .ukraine {
      font-size: 35px;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    padding-top: 0;

    .container {
      border-top: 1px solid var(--whiteText);
      border-bottom: 1px solid var(--whiteText);
      padding: 20px 30px;
      height: 100%;
      position: relative;
    }
  }
}


// ===============================/header=======================================
// ================================main=======================================
.main {
  position: relative;
  margin-top: 204px;
  max-width: 1920px;
  width: calc(375px + (1920 - 375) * ((100vw - 375px) / (1920 - 375)));

  .container {
    margin: 0 auto;
    padding: 0;
  }
}

.banner {
  position: relative;

  .container {
    border-bottom: 1px solid #fff;
    padding: 57px 84px 50px var(--bigPadding);
  }

  p {
    font-family: "Marcellus", serif;
  }

  &__text {
    max-width: 940px;
    width: 100%;
    margin-bottom: 171px;
  }

  a,
  a:visited {
    font-weight: 600;
    color: var(--whiteText);
  }

  &__links {
    top: 25px;
    display: flex;
    justify-content: end;
    gap: 32px 80px;
    z-index: 100000;
    position: relative;
  }

  .fixed {
    position: fixed;
    top: 80px;
    left: 80%;
    transform: translateX(-30%);
    -webkit-transform: translateX(-30%);
    -moz-transform: translateX(-30%);
    -ms-transform: translateX(-30%);
    -o-transform: translateX(-30%);
  }
}

// .sticky {
//   position: fixed;
//   top: 45px;
//   // width: 100%;
// }


@media (max-width: 1024px) {
  .banner {

    .container {
      padding: 0px 16px;
    }
  }

  .banner__text {
    margin-bottom: 140px;
  }

  .banner__links {
    top: -25px;
    display: flex;
    justify-content: end;
    gap: 32px 40px;
    // z-index: 100000;
    // position: relative;
    // z-index: 2;
    // padding: 43px;
    // height: 50px;
  }
}




.services {
  position: relative;
  border-bottom: 1px solid var(--whiteText);

  .darckCircle {
    position: absolute;
    top: -60%;
    left: calc(300px + (1400 - 300) * ((100vw - 375px) / (1920 - 375)));
    background: var(--darkBlue);
    width: 2850px;
    height: 1560px;
    z-index: -1;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .7s ease;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
  }

  .redCircle {
    position: absolute;
    top: 7%;
    right: calc(300px + (1720 - 300) * ((100vw - 375px) / (1920 - 375)));
    background: var(--red);
    width: 1023px;
    height: 818px;
    z-index: -1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
  }

  &__title {
    position: absolute;
    top: -54px;
    left: var(--bigPadding);
    font-weight: bold;
    font-size: 20px;
  }

  &__items {
    li::before {
      position: absolute;
      top: 84px;
      left: 68px;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 84px 60px 105px var(--bigPadding);
      gap: 16px;

      h3 {
        width: 50%;
        // max-width: 556px;
      }

      p {
        width: 50%;
        max-width: 633px;
        line-height: 40px;
      }
    }

    li:not(:last-child) {
      border-bottom: 1px solid white;
    }
  }
}

@media (max-width: 1024px) {
  .services {

    &__items {
      li::before {
        top: 46px;
      }

      li {
        flex-direction: column;

        h3 {
          width: 100%;
          font-size: 45px;
        }

        p {
          width: 100%;
          max-width: none;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .services {

    &__items {
      li::before {
        left: calc(8px + (50 - 8) * ((100vw - 320px) / (600 - 320)));
      }
    }
  }
}

.values {
  position: relative;
  width: 125%;
  padding: 80px 15px 80px 15px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1843px;
    height: 1px;
    background-color: var(--whiteText);
  }

  .slick-track {
    display: flex;
  }

}

.accordion-item-header {
  margin-bottom: 28px;
  margin-right: 100px;
  opacity: 0.5;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}

.accordion-item-header::before {
  content: url(../assets/plus.svg);
  position: relative;
  top: 8px;
  width: 50px;
  margin-right: 25px;
}

.accordion-item-header.active {
  opacity: 1;
}

.accordion-item-header.active::before {
  content: url(../assets/minus.svg);
  position: relative;
  top: -8px;
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  padding-left: 75px;
  transition: max-height 0.2s ease-out;
  -webkit-transition: max-height 0.2s ease-out;
  -moz-transition: max-height 0.2s ease-out;
  -ms-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  line-height: 30px;
  max-width: 390px;
  width: 100%;
}

@media (max-width: 1024px) {
  .values {
    width: 100%;
    padding-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .accordion-item-body-content {
    max-width: 100%;
  }
}

.about {
  padding: 143px var(--padding59) 134px 0px;
  display: flex;
  flex-direction: column;
  gap: 80px 8px;
  border-bottom: 1px solid #fff;

  &__details {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 48px 8px;
    width: 100%;
    max-width: 633px;

    button {
      background: none;
      color: var(--whiteText);
      font-weight: 600;
      font-size: 20px;


      span {
        width: 34px;
        height: 16px;
        margin-left: 25px;
        display: inline-block;
        transition: all .5s ease-in-out;
      }

      span::before {
        content: url(../assets/more.svg);

      }
    }

    a,
    a:visited {
      color: var(--whiteText);
    }

    button:hover {
      span {
        opacity: 0.5;
        transform: translateX(20px);
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
      }
    }
  }


  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: var(--padding59);
    gap: 50px;

  }

  .team__item {
    width: calc(280px + (383 - 280) * ((100vw - 375px) / (1920 - 375)));
    max-width: 383px;
    height: calc(350px + (574 - 350) * ((100vw - 375px) / (1920 - 375)));
    max-height: 574px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 50%;
      bottom: 0;
      left: 0;
      background: linear-gradient(0deg, #121673, transparent);
    }
  }

  .persom__img {
    width: 100%;
    overflow: hidden;
    height: 100%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }

  .person__info {
    position: absolute;
    bottom: var(--padding59);
    left: -23px;
  }

}

@media (max-width: 1024px) {
  .about {
    padding: 50px 15px 134px 15px;
    display: flex;
    flex-direction: column;
    gap: 80px 8px;

    .person__info {
      position: absolute;
      bottom: 15px;
      left: -23px;
    }
  }

  .about__bottom {
    padding-left: 20px;
  }
}

.projects {
  padding: 143px var(--padding59) 134px var(--padding59);
  display: flex;
  flex-direction: column;
  gap: 80px 8px;
  border-bottom: 1px solid #fff;

  .section__header {
    margin-left: calc(var(--bigPadding) - var(--padding59));
  }

  &__top {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      width: 50%;
      margin-left: calc(var(--bigPadding) - var(--padding59));
    }

  }

  &__bottom {
    position: relative;
    margin-top: 120px;
  }

  .projects__slide {
    padding: 0 calc(8px + (50 - 8) * ((100vw - 320px) / (1920 - 320)));
    ;
  }

  .project__img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    overflow: hidden;

  }

  .project__info {
    margin: 10% 0 0 10%;
    max-width: 453px;

    h5 {
      font-weight: bold;
      margin-bottom: 35px;
    }

    p {
      font-size: 20px;
      opacity: .5;
    }
  }

  .projects__slide:nth-child(4n+1) {
    .project__img {
      height: calc(305px + (550 - 305) * ((100vw - 980px) / (1920 - 980)));
      max-height: 550px;
    }
  }

  .projects__slide:nth-child(4n+2) {
    .project__img {
      height: calc(388px + (700 - 388) * ((100vw - 980px) / (1920 - 980)));
      max-height: 700px;

    }
  }

  .projects__slide:nth-child(4n+3) {
    .project__img {
      height: calc(277px + (500 - 277) * ((100vw - 980px) / (1920 - 980)));
      max-height: 500px;
    }
  }

  .projects__slide:nth-child(4n+4) {
    .project__img {
      height: calc(255px + (460 - 255) * ((100vw - 980px) / (1920 - 980)));
      max-height: 460px;
    }
  }

  .slick-track {
    display: flex;
  }

  .slick-arrow {
    position: absolute;
    top: 25%;
    z-index: 2;
    font-size: 0;
    width: 50px;
    height: 50px;
    // background: white;
    background-color: transparent;
  }

  .slick-arrow.slick-prev {
    left: -50px;
    background-image: url(../assets/more.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

  .slick-arrow.slick-next {
    right: -50px;
    background-image: url(../assets/more.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

}

@media (max-width: 1024px) {
  .projects {
    padding: 28px 8px 38px 8px;
    display: flex;
    flex-direction: column;
    gap: 80px 8px;
    border-bottom: 1px solid #fff;

    &__bottom {
      margin-top: 0px;
    }

    .section__header {
      margin-left: var(--bigPadding);
    }

    .slick-arrow {
      opacity: .5;
    }

    .slick-arrow.slick-prev {
      left: -10px;
    }

    .slick-arrow.slick-next {
      right: -10px;
    }

    .projects__slide:nth-child(4n+1) {
      .project__img {
        height: calc(152px + (500 - 152) * ((100vw - 320px) / (980 - 320)));
      }
    }

    .projects__slide:nth-child(4n+2) {
      .project__img {
        height: calc(199px + (500 - 199) * ((100vw - 320px) / (980 - 320)));

      }
    }

    .projects__slide:nth-child(4n+3) {
      .project__img {
        height: calc(277px + (500 - 277) * ((100vw - 320px) / (980 - 320)));
      }
    }

    .projects__slide:nth-child(4n+4) {
      .project__img {
        height: calc(255px + (500 - 255) * ((100vw - 320px) / (980 - 320)));
      }
    }
  }
}

.main .form__container {
  border-bottom: 1px solid var(--whiteText);
  padding-right: var(--padding59);
}

.form {
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: var(--bigPadding);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;

    h2 {
      width: 50%;
      margin-left: var(--bigPadding);
    }

    p {
      width: 50%;
    }
  }

  h5 {
    margin-bottom: 50px;
  }
}


@media (max-width: 1024px) {
  .form {
    margin-top: 0;
    margin-bottom: 0;
    padding: 80px 8px 134px 8px;
    display: flex;
    flex-direction: column;
    gap: 30px 8px;

    &__top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 0px 15px;

      h2 {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 30px;
      }

      p {
        width: 100%;
      }

    }
  }

  .main .form__container {
    padding-right: 0px;
    padding-top: 20px;
  }
}

input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
  font-size: 24px;
  color: var(--whiteText);
  opacity: 0.34;
  top: -24px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  width: 293px;
  position: relative;
  border-radius: 4px;
}

.styled-input._error {
  input {
    border-bottom: 1px solid rgb(131, 19, 19);
  }
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}

.styled-input label {
  font-size: 24px;
  color: var(--whiteText);
  opacity: 0.5;
  padding: 0;
  position: absolute;
  bottom: 50%;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.wide {
  width: 50%;
  margin-bottom: 110px;
}

.wide:nth-child(even) {
  width: 633px;
  align-self: flex-start;
}

input,
textarea {
  padding: 20px 20px 26px 0;
  border: 0;
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  background-color: transparent;
  color: var(--whiteText);
  border-bottom: 1px solid var(--whiteText);
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus~span,
textarea:focus~span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  height: 300px;
  resize: none;
}

.submit-btn {
  padding: 53px 164px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.089);
  color: white;
  font-size: 20px;
  cursor: pointer;
  align-self: start;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  scale: 1.1;
}

@media (max-width: 1700px) {
  .wide:nth-child(even) {
    width: 50%;
    align-self: flex-start;
  }
}

@media (max-width: 1279px) {
  .wide {
    width: 100%;
    align-self: flex-start;
    margin-bottom: 20px;
  }

  .wide:nth-child(even) {
    width: 100%;
    margin-bottom: 20px;

  }
}

@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    text-align: center;
    padding: 26px 60px;
  }

  .submit-btn:hover {
    scale: .9;
  }
}

input[type=checkbox]+label {
  color: #ccc;
  font-style: italic;
}

input[type=checkbox]:checked+label {
  color: #f00;
  font-style: normal;
}

//range input
.range__cover {
  display: flex;
  align-items: center;
  gap: 8px 48px;

  .inputRange__cover {
    height: fit-content;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 55%;
      left: 0;
      height: 1px;
      width: 100%;
      background: var(--whiteText);
      opacity: .5;
    }
  }

  p {
    font-size: 30px;

  }
}

.myRange {
  -webkit-appearance: none;
  padding: 0;
  border-bottom: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  background: linear-gradient(to right, var(--whiteText) 0%, var(--whiteText) 40%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 100%);
  border-radius: 8px;
  height: 5px;
  width: 234px;
  outline: none;
  transition: 450ms ease-in;
  -webkit-appearance: none;
  position: relative;
}

.myRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 0;
  background: var(--whiteText);
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: var(--whiteText);
}

.myRange::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  background: var(--whiteText);
  cursor: pointer;
}

.range__values {
  position: relative;
  width: 100%;
}

#warning {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  color: #ea2828;
  font-size: 10px;
}

@media (max-width: 767px) {
  .range__cover {
    display: flex;
    align-items: start;
    gap: 50px 48px;
    flex-direction: column;
    width: 100%;
  }

  .myRange {
    width: 100%;
    height: 7px;
  }

  .range__cover .inputRange__cover {
    width: 100%;
  }
}

// ===============================/main=======================================
// ================================footer=======================================
.footer {
  display: flex;
  justify-content: center;
  max-width: 1920px;
  width: 100%;


  .container {
    padding: 140px var(--padding59) 134px 0px;
  }


  .socials {
    display: flex;
    flex-direction: column;
    gap: 52px 8px;
    width: 100%;

    &__links {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px 32px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        transition: 0.2s ease;
        -webkit-transition: 0.2s ease;
        -moz-transition: 0.2s ease;
        -ms-transition: 0.2s ease;
        -o-transition: 0.2s ease;
      }
    }

    a:hover {
      scale: 1.2;
    }
  }

  .contactUs {
    display: flex;
    flex-direction: column;
    gap: 12px 8px;
    font-size: 30px;

    a:hover {
      text-decoration: underline;
    }
  }

  a {
    color: var(--whiteText);
  }

  &__bottom {
    margin-top: 156px;
    margin-left: 68px;

    a:hover {
      text-decoration: underline;
    }

    p {
      margin-bottom: 27px;
    }
  }

  .location::before {
    content: url(../assets/location.svg);
    position: relative;
    top: -23px;
    left: 0px;
  }

  &__info {
    margin-top: 140px;

    .contactUs {
      width: 50%;
      margin-top: -100px;

    }
  }
}

@media (max-width: 1024px) {
  .footer {

    .container {
      padding: 80px 15px 20px 15px;
    }


    &__bottom {
      margin-top: 80px;
      margin-left: 0px;

      p {
        text-align: center;
      }
    }

    .location::before {
      top: -10px;

    }

    &__info {
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      gap: 50px 20px;

      .contactUs {
        width: 100%;
        margin-top: 0px;

      }

      .section__details {
        width: 100%;
      }
    }

  }
}

// ===============================/footer=======================================
@media (min-width: 1921px) {
  :root {
    --bigPadding: 346px;
  }

  .services {
    position: relative;

    .darckCircle {
      left: inherit;
      right: -2430px;
    }

    .redCircle {
      left: -880px;
      right: inherit;
    }
  }
}

@media (max-width: 1024px) {
  // #cursor {
  //   border: none;
  // }
}

* {
  cursor: none;
}

#cursor,
#aura {
  position: absolute;
  transition: .4s cubic-bezier(.75, -1.25, .3, 2.33) transform, .2s cubic-bezier(.75, -1.25, .3, 2.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 1000;
  border-radius: 50%;

}

#cursor {
  width: 5px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.5);

  &.active {
    opacity: 0;
    transform: scale(0);
  }
}

#aura {
  width: 46px;
  height: 46px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.02);

  // transition: 0.5s scale;
  &.active {
    //border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(28, 87, 121, 0.212);
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
  }
}

#arrowBtn {
  background-image: url(../assets/more.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  position: fixed;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: none;
  z-index: 3;
}

#arrowBtn.arrowActive{
  display: block;
}

#cursor.hidden,
#aura.hidden {
  &.hidden {
    transform: scale(0.01)
  }
}

@media (max-width: 980px) {
  * {
    cursor: default;
  }

  #cursor,
  #aura {
    display: none;
  }
}
