@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Marcellus:regular);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);
@font-face {
  font-family: "proxima_nova";
  src: url("../fonts/Proxima Nova Font.eot");
  src: local("☺"), url("../fonts/Proxima Nova Font.woff") format("woff"), url("../fonts/Proxima Nova Font.ttf") format("truetype"), url("../fonts/Proxima Nova Font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima_nova";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("☺"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
:root {
  --bg: #000000;
  --whiteText: #ffffff;
  --yellow: #ffc810;
  --blue: #107eff;
  --darkBlue: #0d123b;
  --red: #460d23;
  --bigPadding: calc(8px + (346 - 8) * ((100vw - 320px) / (1920 - 320)));
}

#cursor {
  z-index: 100;
  pointer-events: none;
  height: 100px;
  width: 100px;
  background: transparent;
  opacity: 0.3;
  border-radius: 50%;
  border: 1px solid var(--whiteText);
  position: absolute;
  display: none;
  transition: 0.1s ease;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
}

a:hover ~ #cursor {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

body {
  background: var(--bg);
  color: var(--whiteText);
  font-family: "proxima_nova", serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 10px;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1843px;
  padding: 0 15px;
}

h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 80px;
  margin-bottom: 60px;
}

h2 {
  font-size: 65px;
  font-weight: 600;
}

h3 {
  font-size: 60px;
}

h4 {
  font-family: "Marcellus", serif;
  font-size: 40px;
  line-height: 56px;
}

h5 {
  font-size: 30px;
}

p {
  font-size: 24px;
  line-height: 40px;
}

.desktop__hidden {
  display: none;
}

.mobile__hidden {
  display: block;
}

ol {
  list-style-type: none;
  counter-reset: list;
}

ol li {
  position: relative;
}

ol li::before {
  position: relative;
  top: 84px;
  left: 68px;
  top: 0;
  left: 0;
  font-family: "Merriweather", serif;
  font-style: italic;
  opacity: 0.5;
  font-size: 24px;
  font-weight: 400;
  content: "0" counter(list);
  counter-increment: list;
  color: var(--whiteText);
}

@media (max-width: 980px) {
  .desktop__hidden {
    display: block;
  }
  .mobile__hidden {
    display: none;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  h1 {
    font-size: 65px;
  }
  h2 {
    font-size: 60px;
  }
  h3 {
    font-size: 55px;
  }
  h4 {
    font-size: 35px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 20px;
  }
}
.header {
  padding-top: 23px;
  background: var(--bg);
  position: fixed;
  width: calc(375px + 1545 * (100vw - 375px) / 1545);
  max-width: 1920px;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.header .container {
  border-top: 1px solid var(--whiteText);
  border-bottom: 1px solid var(--whiteText);
  padding: 39px 110px;
  height: 100%;
  position: relative;
}
.header .container .blue {
  position: absolute;
  z-index: -1;
  top: -940px;
  right: -15%;
  background-color: var(--blue);
  width: 890px;
  height: 1015px;
  opacity: 0.5;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.header .container .yellow {
  position: absolute;
  z-index: -1;
  top: -910px;
  right: -33%;
  background-color: var(--yellow);
  width: 865px;
  height: 1040px;
  opacity: 0.5;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.header .header__body {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  gap: 20px 36px;
}
.header .subLogo {
  width: 127px;
}
.header .header__burger {
  display: none;
}
.header .header__menu ul {
  display: flex;
  color: #ffffff;
}
.header .header__link {
  position: relative;
  z-index: 5;
  color: #fff;
}
.header .ukraine {
  color: rgb(252, 206, 14);
  font-size: 20px;
}
.header .ukraine span {
  color: #0d86ff;
}
@media (max-width: 980px) {
  .header body.lock {
    overflow: hidden;
  }
  .header .container {
    padding: 39px 20px;
  }
  .header .content {
    width: calc(310px + 590 * (100vw - 320px) / 660);
  }
  .header .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-left: 30px;
    position: relative;
    z-index: 5;
  }
  .header .header__logo {
    position: relative;
    z-index: 5;
    width: 150px;
    height: 35px;
  }
  .header .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 4px;
    top: 8px;
    transition: all 0.3s ease 0.2s;
    -webkit-transition: all 0.3s ease 0.2s;
    -moz-transition: all 0.3s ease 0.2s;
    -ms-transition: all 0.3s ease 0.2s;
    -o-transition: all 0.3s ease 0.2s;
  }
  .header .header__burger::before,
.header .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    transition: all 0.3s ease 0.2s;
    -webkit-transition: all 0.3s ease 0.2s;
    -moz-transition: all 0.3s ease 0.2s;
    -ms-transition: all 0.3s ease 0.2s;
    -o-transition: all 0.3s ease 0.2s;
  }
  .header .header__burger.active::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 8px;
  }
  .header .header__burger.active::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    bottom: 8px;
  }
  .header .header__burger.active span {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  .header .header__menu {
    position: fixed;
    top: -110%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(18, 18, 18);
    padding: 70px 10px 20px 10px;
    overflow: auto;
    transition: all 0.5s ease 0.2s;
    -webkit-transition: all 0.5s ease 0.2s;
    -moz-transition: all 0.5s ease 0.2s;
    -ms-transition: all 0.5s ease 0.2s;
    -o-transition: all 0.5s ease 0.2s;
  }
  .header .header__menu.active {
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    padding: 155px 10px 20px 10px;
  }
  .header .header__burger::before {
    top: 0;
  }
  .header .header__burger::after {
    bottom: 0;
  }
  .header .header__menu ul {
    display: block;
  }
  .header .header__menu ul li {
    display: flex;
    justify-content: center;
    margin: 0 0 45px 0;
    font-size: 35px;
  }
  .header .ukraine {
    font-size: 35px;
  }
}

.main {
  position: relative;
  margin-top: 204px;
  max-width: 1920px;
  width: calc(375px + 1545 * (100vw - 375px) / 1545);
}
.main .container {
  margin: 0 auto;
  padding: 0;
}

.banner {
  position: relative;
}
.banner .container {
  border-bottom: 1px solid #fff;
  padding: 57px 84px 50px var(--bigPadding);
}
.banner p {
  font-family: "Marcellus", serif;
}
.banner__text {
  max-width: 940px;
  width: 100%;
  margin-bottom: 171px;
}
.banner a,
.banner a:visited {
  font-weight: 600;
  color: var(--whiteText);
}
.banner__links {
  position: -webkit-sticky;
  position: sticky;
  top: 45px;
  display: flex;
  justify-content: end;
  gap: 32px 111px;
  z-index: 100000;
  position: relative;
}

.services {
  position: relative;
  border-bottom: 1px solid var(--whiteText);
}
.services .darckCircle {
  position: absolute;
  top: -60%;
  left: calc(300px + 1100 * (100vw - 375px) / 1545);
  background: var(--darkBlue);
  width: 2850px;
  height: 1560px;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(-10deg);
}
.services .redCircle {
  position: absolute;
  top: 7%;
  right: calc(300px + 1420 * (100vw - 375px) / 1545);
  background: var(--red);
  width: 1023px;
  height: 818px;
  border-radius: 50%;
  z-index: -1;
}
.services__title {
  position: absolute;
  top: -54px;
  left: var(--bigPadding);
  font-weight: bold;
  font-size: 20px;
}
.services__items li::before {
  position: absolute;
  top: 84px;
  left: 68px;
}
.services__items li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 84px 60px 105px var(--bigPadding);
  gap: 16px;
}
.services__items li h3 {
  width: 50%;
}
.services__items li p {
  width: 50%;
  max-width: 633px;
  line-height: 40px;
}
.services__items li:not(:last-child) {
  border-bottom: 1px solid white;
}

@media (max-width: 1024px) {
  .services__items li::before {
    top: 46px;
  }
  .services__items li {
    flex-direction: column;
  }
  .services__items li h3 {
    width: 100%;
    font-size: 45px;
  }
  .services__items li p {
    width: 100%;
    max-width: none;
  }
}
@media (max-width: 600px) {
  .services__items li::before {
    left: calc(8px + 42 * (100vw - 320px) / 280);
  }
}
.values {
  position: relative;
  width: 125%;
  padding: 80px 15px 80px 15px;
  /* Слайдер */
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}
.values::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1843px;
  height: 1px;
  background-color: var(--whiteText);
}
.values .slick-track {
  display: flex;
}
.accordion-item-header {
  margin-bottom: 28px;
  margin-right: 100px;
  opacity: 0.5;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}

.accordion-item-header::before {
  content: url(../assets/plus.svg);
  position: relative;
  top: 8px;
  width: 50px;
  margin-right: 25px;
}

.accordion-item-header.active {
  opacity: 1;
}

.accordion-item-header.active::before {
  content: url(../assets/minus.svg);
  position: relative;
  top: -8px;
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  padding-left: 75px;
  transition: max-height 0.2s ease-out;
  -webkit-transition: max-height 0.2s ease-out;
  -moz-transition: max-height 0.2s ease-out;
  -ms-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  line-height: 30px;
  max-width: 390px;
  width: 100%;
}

@media (max-width: 1024px) {
  .values {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .accordion-item-body-content {
    max-width: 100%;
  }
}
.about {
  padding: 143px 59px 134px 59px;
  display: flex;
  flex-direction: column;
  gap: 80px 8px;
  border-bottom: 1px solid #fff;
}
.about__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__top h2 {
  width: 50%;
  margin-left: var(--bigPadding);
}
.about__details {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 48px 8px;
  width: 100%;
  max-width: 633px;
}
.about__details button {
  background: none;
  color: var(--whiteText);
  font-weight: 600;
  font-size: 20px;
}
.about__details button span {
  width: 34px;
  height: 16px;
  margin-left: 25px;
  display: inline-block;
  transition: all 0.5s ease-in-out;
}
.about__details button span::before {
  content: url(../assets/more.svg);
}
.about__details a,
.about__details a:visited {
  color: var(--whiteText);
}
.about__details button:hover span {
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
}
.about__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about .team__item {
  width: 383px;
  height: 574px;
  position: relative;
}
.about .team__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #121673, transparent);
}
.about .persom__img {
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.about .persom__img img {
  max-width: none;
  max-height: 100%;
}
.about .person__info {
  position: absolute;
  bottom: 59px;
  left: -42px;
}

@media (max-width: 1024px) {
  .about {
    padding: 143px 8px 134px 8px;
    display: flex;
    flex-direction: column;
    gap: 80px 8px;
  }
  .about__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .about__top h2 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 30px;
  }
  .about__top p {
    width: 100%;
  }
}
.projects {
  padding: 143px 59px 134px 59px;
  display: flex;
  flex-direction: column;
  gap: 80px 8px;
  border-bottom: 1px solid #fff;
  /* Слайдер */
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}
.projects__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects__top h2 {
  width: 50%;
  margin-left: var(--bigPadding);
}
.projects__bottom {
  position: relative;
}
.projects .projects__slide {
  padding: 0 calc(8px + 62 * (100vw - 320px) / 1600);
}
.projects .project__img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.projects .project__info {
  margin: 10% 0 0 10%;
}
.projects .project__info h5 {
  font-weight: bold;
  margin-bottom: 35px;
}
.projects .project__info p {
  font-size: 20px;
  opacity: 0.5;
}
.projects .projects__slide:nth-child(4n+1) .project__img {
  height: calc(305px + 245 * (100vw - 980px) / 940);
  max-height: 550px;
}
.projects .projects__slide:nth-child(4n+2) .project__img {
  height: calc(388px + 312 * (100vw - 980px) / 940);
  max-height: 700px;
}
.projects .projects__slide:nth-child(4n+3) .project__img {
  height: calc(277px + 223 * (100vw - 980px) / 940);
  max-height: 500px;
}
.projects .projects__slide:nth-child(4n+4) .project__img {
  height: calc(255px + 205 * (100vw - 980px) / 940);
  max-height: 460px;
}
.projects .slick-track {
  display: flex;
}
.projects .slick-arrow {
  position: absolute;
  top: 25%;
  z-index: 2;
  font-size: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
}
.projects .slick-arrow.slick-prev {
  left: -50px;
  background-image: url(../assets/more.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.projects .slick-arrow.slick-next {
  right: -50px;
  background-image: url(../assets/more.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1024px) {
  .projects {
    padding: 143px 8px 134px 8px;
    display: flex;
    flex-direction: column;
    gap: 80px 8px;
    border-bottom: 1px solid #fff;
    /* Стрелка вправо */
  }
  .projects__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .projects__top h2 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 30px;
  }
  .projects__top p {
    width: 100%;
  }
  .projects .slick-arrow {
    opacity: 0.5;
  }
  .projects .slick-arrow.slick-prev {
    left: -10px;
  }
  .projects .slick-arrow.slick-next {
    right: -10px;
  }
  .projects .projects__slide:nth-child(4n+1) .project__img {
    height: calc(152px + 348 * (100vw - 320px) / 660);
  }
  .projects .projects__slide:nth-child(4n+2) .project__img {
    height: calc(199px + 301 * (100vw - 320px) / 660);
  }
  .projects .projects__slide:nth-child(4n+3) .project__img {
    height: calc(277px + 223 * (100vw - 320px) / 660);
  }
  .projects .projects__slide:nth-child(4n+4) .project__img {
    height: calc(255px + 245 * (100vw - 320px) / 660);
  }
}
.form {
  border-bottom: 1px solid #fff;
  padding: 143px 59px 134px 59px;
}
.form__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
.form__top h2 {
  width: 50%;
  margin-left: var(--bigPadding);
}
@media (max-width: 1024px) {
  .form {
    padding: 143px 8px 134px 8px;
    display: flex;
    flex-direction: column;
    gap: 80px 8px;
    border-bottom: 1px solid #fff;
  }
  .form__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .form__top h2 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 30px;
  }
  .form__top p {
    width: 100%;
  }
}
.footer {
  display: flex;
  justify-content: center;
  max-width: 1920px;
  width: 100%;
  margin-top: 140px;
}
.footer .container {
  padding: 157px 100px 80px var(--bigPadding);
}
.footer__top {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.footer__top h2 {
  margin-bottom: 232px;
  margin-top: 26px;
}
.footer__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  max-width: 633px;
}
.footer__right p {
  line-height: 40px;
  margin-bottom: 145px;
}
.footer__right h4 {
  position: relative;
  max-width: 444px;
  margin-bottom: 115px;
}
.footer__right h4 img {
  margin-bottom: 23px;
}
.footer__right .socials {
  display: flex;
  flex-direction: column;
  gap: 52px 8px;
  width: 100%;
}
.footer__right .socials__links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 32px;
}
.footer__right .socials__links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
}
.footer__right .socials a:hover {
  scale: 1.2;
}
.footer__left {
  width: 50%;
}
.footer__left .contactUs {
  display: flex;
  flex-direction: column;
  gap: 12px 8px;
  font-size: 30px;
}
.footer__left .contactUs a:hover {
  text-decoration: underline;
}
.footer a {
  color: var(--whiteText);
}
.footer__bottom {
  margin-top: 156px;
}
.footer__bottom a:hover {
  text-decoration: underline;
}
.footer__bottom p {
  margin-bottom: 27px;
}

@media (max-width: 1024px) {
  .footer {
    margin-top: 100px;
  }
  .footer .container {
    border-top: 1px solid #fff;
    padding: 36px 8px 20px 20px;
  }
  .footer__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
  }
  .footer__top h2 {
    margin-bottom: 40px;
  }
  .footer__right {
    width: 100%;
  }
  .footer__right p {
    margin-bottom: 40px;
  }
  .footer__right h4 {
    margin-bottom: 60px;
  }
  .footer__left {
    width: 100%;
  }
  .footer__bottom {
    margin-top: 80px;
  }
}
@media (min-width: 1921px) {
  :root {
    --bigPadding: 346px;
  }
  .services {
    position: relative;
  }
  .services .darckCircle {
    left: inherit;
    right: -2430px;
  }
  .services .redCircle {
    left: -880px;
    right: inherit;
  }
}
@media (max-width: 1024px) {
  #cursor {
    borde: none;
  }
}/*# sourceMappingURL=styles.css.map */